body	{
	background-color: black;
}	

h1	{
	text-align: center;
	color: red;
}

header {
	color: red;
}

ul {
	color: red;
}
.center {
	width:45%;
	list-style-position: inside;
	border:1px solid red;
	padding:1em;
	margin:0 auto;
}

/* Edits center divs */
div.center {
	font-size: 20px;
}
