* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
}

.gold {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 50%;
	border: 1px solid gold;
}